@page "/"

<PageTitle>Index</PageTitle>

<h1>Saludos, Bienvenidos al Sistema para Pizzería!</h1>

Le invitamos a iniciar sesión para comenzar a administrar.

<SurveyPrompt Title="How is Blazor working for you?" />
